.circleci
.scannerwork
.vscode/**
.vscode-test/**
out/test/**
out/**/*.map
src/**
.gitignore
Jenkinsfile
tsconfig.json
vsc-extension-quickstart.md
sonar-project.properties
tslint.json
test Fixture with speci@l chars
test-resources
coverconfig.json
coverage
*.vsix
